.column {
  width: 300px;
  float: left;
}

p {
  background-color: pink;
}

.fluffy p {
  color: #99b;
  background-color: blue;
}

h2 {
  font-style: italic;
}

.gizmo h2 {
  font-weight: normal;
}

.squishy h2 {
  color: green;
}

.column img {
  border: 2px solid yellow;
}

.detail {
  text-decoration: underline;
}

.fluffy p .detail {
  color: red;
}
